# machine-specific config files
.htaccess
.htpasswd 

# nano, emacs backups
*~

# media
media/*.*

# macos
.DS_Store

# bash 
static/bash/backup*
!static/bash/backup_
static/bash/sync*
!static/bash/sync_
static/bash/logs/*
!static/bash/logs/.gitkeep

# php composer
static/php/vendor

robots.txt