* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: sf-text, Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 22px;	
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-size-adjust: 100%;
}

p {
	margin-bottom: 1em;
}

img, video {
	width: 100%;
	padding: 1em;
  	filter: grayscale(100%);
}

canvas {
    /* border: 5px solid red; */
}

a:link,
a:visited {
    color: #00F;
    text-decoration: none;
}

a:hover {
    color: #000;
}

a:active {
	color:#FFF;
}

header {
	position: relative;
	padding: 1em;
}

header.homepage {
	z-index: 10;
}

ul {
	list-style-type: none;
	padding-left: 1em;
	margin: 0px;
}

ul:first-child {
	padding-left: 0px;
}

blockquote {
    font-family: sf-mono, monaco, courier, monospace;
    font-size: 15px;
    margin-block-start: 22px;
    margin-block-end: 22px;
}

/* ids */

#menu {
	padding-bottom: 1em;
}

#main {
}

#badge-container {
	position: fixed;
	right: 0px;
	width: 100%;
    padding: 10px;
}

#badge {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#badge-container.lower-right {
	bottom: 0px;
	width: initial;
}

#breadcrumbs {
	padding: 1em;
	padding-bottom: 0px;
}

#content {
    padding: 1em;
}

#columns {
    columns: 400px 6;
    column-gap: 44px;
    padding: 1em;
}

/* use margin instead of <br> */
#columns div {
    margin-bottom: 22px;
}

#columns .break {
    break-after: column;
    margin-bottom: 0px;
}

#notes {
    border-top: 1px solid #000;
    margin-top: 33px;
    padding-top: 10px;
    padding-bottom: 33vw;
}

#notes div {
    margin-bottom: 0px;
}

#notes a::before {
    padding-right: 10px;
    content: "";
    display:inline-block;
    height:20px;
    width:20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

#notes a[href$=".pdf"]::before {
    background-image: url('/media/svg/pdf-1-k.svg');
}

#notes a:not([href$=".pdf"])::before {
    background-image: url('/media/svg/arrow-up-right-1-k.svg');
}

#fullscreen {
	/* width: auto; */
	height: auto;
}

#fullscreen:-webkit-full-screen,
#f:-webkit-full-screen,
:-webkit-full-screen {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-sizing: border-box;
    background-color: #000;
    filter: initial;
}

#fullscreen:-ms-fullscreen,
:-ms-fullscreen {
	width: auto;
	height: auto;
	margin: auto;
  	filter: initial;
}

/*
    fullwindow
*/
#fullwindow img {
    padding: 0;
    filter: none;
}
.fullwindow-trigger {
    cursor: pointer;
}
.fullwindow-control-btn {
    width: 80px;
    position: absolute;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    user-select: none; /* Standard syntax */
    mix-blend-mode: difference;
}
.fullwindow-control-btn:hover {
    opacity: 0.5;
}
#fullwindow {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    width: 100vw;
    max-width: 100%;
    height: 100dvh;
    box-sizing: border-box;
    background-color: #000;
    z-index: +3;
}
.viewing-fullwindow #fullwindow {
    display: block;
}
body.viewing-fullwindow {
    background-color: #000;
}
.viewing-fullwindow #main{
    opacity: 0;
    pointer-events: none;
    height: 100dvh;
    overflow: hidden;
}
#fullwindow-image
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    object-fit: contain;
}
#fullwindow-caption
{
    color: #fff;
}
#fullwindow-caption.empty {
    padding-top: 0;
}
.fullwindow-control-btn > img {
    display: block;
    padding: 0;
    filter: none;
}
#close-fullwindow-btn {
    top: 10px;
    left: 10px;
}
#fullwindow-next-btn,
#fullwindow-prev-btn {
    position: absolute;
    top: 0;
    height: 100dvh;
    width: 50%;
}
#fullwindow-next-btn {
   right: 0;
   cursor: url(../../media/png/arrow-forward-6-w.png), pointer;
}
#fullwindow-prev-btn {
    left: 0;
    cursor: url(../../media/png/arrow-back-6-w.png), pointer;
}
#fullwindow-next-btn.disabled,
#fullwindow-prev-btn.disabled{
    cursor: auto;
}
#fullwindow-caption-btn {
    width: 36px;
    bottom: 10px;
    left: 10px;
}
.viewing-fullwindow #badge-container {
    display: none;
}
#fullwindow-caption.empty ~ #fullwindow-caption-btn {
    display: none;;
}


#screenfull-container {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    width: 100vw;
    max-width: 100%;
    height: 100dvh;
    box-sizing: border-box;
    background-color: #000;
    z-index: 2000;
}

#screenfull-image-wrapper {
    width: 100%;
    height: 100%;
}
.viewing-screenfull #screenfull-container {
    display: block;
}
#screenfull-image-wrapper img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#screenfull-caption {
    display: none;
    text-align: center;
    position: absolute;
    width: 100%;
    padding: 10px 100px; 
    bottom: 0px;
    color: #FFF;
    margin: 0;
    background-color: #000;
}
.viewing-screenfull-caption #screenfull-caption{
    display: block;
}
#screenfull-caption.empty {
    padding-top: 0;
}
*[screenfull-index]
{
    cursor: pointer;
}

.screenfull-control-btn {
    width: 36px;
    position: absolute;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    user-select: none; /* Standard syntax */
    mix-blend-mode: difference;
}
.screenfull-control-btn:hover {
    opacity: 0.5;
}

.screenfull-control-btn > img {
    display: block;
}
.hiding-controls .screenfull-control-btn{
    transition: opacity .5s;
    opacity: 0;
}
#close-screenfull-btn {
    top: 10px;
    right: 10px;
}
#enter-screenfull-btn {
    top: 10px;
    right: 50px;
    display: none;
}
.viewing-screenfull #logo-container,
.viewing-screenfull #badge-container{
    display: none;
}
#screenfull-next-btn,
#screenfull-prev-btn
{
    position: absolute;
    top: 0;
    height: 100dvh;
    width: 50%;
}
#screenfull-next-btn {
   right: 0;
   /* cursor: url(../../media/png/arrow-forward-6-w.png) 20 20, pointer; */
   cursor: pointer;
   width: 100%;
}
#screenfull-prev-btn {
    left: 0;
    cursor: url(../../media/png/arrow-back-6-w.png) 0 20, pointer;
    display: none;
}
#screenfull-caption-btn {
    width: auto;
    padding: 2px 5px;
    bottom: 10px;
    left: 10px;
    font-family: Helvetica, sans-serif;
    color: #fff;
}

.viewing-screenfull-caption #screenfull-caption-btn {
    opacity: 0.5;
}

#screenfull-caption.empty ~ #screenfull-caption-btn {
    display: none;
}

/* classes */

.mono {
    font-family: sf-mono, monaco, courier, monospace;
    font-size: 15px;
}

.large {
    /* vw = viewport width % */
    /* height based on width */
	height: 80vh;
}

.small {
    /* vw = viewport width % */
    /* height based on width */
	width: 33vw;
	height: 33vw;
}

.half {
    display: inline-block;
    width: 49%;
}

.centre {
	position: relative;
    top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.v-centre {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.h-centre {
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.make blockquote {
    margin-block-start: 15px;
    margin-block-end: 15px;
    margin-inline-start: 24px;
    margin-inline-end: 0px;
    font-size: 10px;
    line-height: 15px;
    text-indent: initial;
}
    
.make #columns {
    columns: 3;
    column-gap: 50px;
    width: 750px;
}

.make #about {
    margin-inline-start: 0;
    margin-inline-end: 0;
    border-top: inherit;
    padding-bottom: 0;
    /* break-after: page; */
}

.make #about blockquote {
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-top: 0px;
}

.make #about #print-or-download {
    display: none;
}

.make #notes {
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    font-size: 10px;
    line-height: 15px;
    break-inside: avoid;
    word-wrap: break-word;
}

.make #notes a::before {
    content: none;
}

.make #body {
	font-family: sf-text, Helvetica, Arial, sans-serif; 
    font-size: 12px;
    line-height: 15px;
    /* text-indent: 24px; */
}

.make #body div {
    margin-bottom: 0px;
}

.make #body img {
    display: inline-block;
    /* margin-left: -24px; */
}

.make #body div:first-of-type {
    text-indent: 0;
}

.make .skip-column {
    /* break-after: page; */
    /* PoP */
    display: none;
    /* end */
}

.pdf #columns {
    columns: 100px 6;
}

.pdf #notes {
    padding-bottom: 22px;
}

/* vertical iPad / horizontal iPhone */
@media screen and (max-width: 768px) {
    #columns .break {
        break-after: initial;
        margin-bottom: -22px;
    }
}

/* vertical iPhone */
@media screen and (max-width: 500px) {
    #columns .break {
        break-after: initial;
        margin-bottom: -22px;
    }
}

/* print (currently printing works best in chrome) */
@media print { 
    #content.make,
    .make #columns {
        padding: 0px;
    }
    /* firefox fix
    img, video {
        filter: none;
    }
    */
    .make #body img {
        margin-left: 0px;
    }
    .make video {
        display: none;
    }
}
